:root{
  background: #bcced6;
  background: linear-gradient(90deg, rgba(188, 206, 214, 1) 0%, rgba(87, 199, 133, 1) 50%);
  color: black;
  font-family: sans-serif;
}

a{
  color: rgb(4, 80, 4);
  
}

.site-wrapper main{
  display: flex;
  align-items: center;
  flex-direction: column;
  
  
}

.auth-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 10%;
  width: 30%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(256,256,256,0.25);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(20px);
  
  border-radius: 30px;
  border: solid 1px rgba(0,0,0,0.25) ;
  
}

.auth-form input{
  width: 80%;
  margin-bottom: 2rem;
  height: 1.5rem;
  background-color: #D9ED92;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  border: solid 1px rgba(0,0,0,0.25) ;
}

.auth-form button{
  background-color: #D9ED92;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  border-width: 1px;
  border-radius: 15px;
  border: solid 1px rgba(0,0,0,0.25) ;
  
}

.noteCreator{
  background-color: yellow;
}